{
            font-family:Constantia, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #000;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
        }

        nav {
            background-color: #0b47f9e7;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        section {
            padding: 20px;
        }

        article {
            margin-bottom: 20px;
        }

        h2 {
            margin-top: 0;
        }

        footer {
            background-color: #000;
            color: #fff;
            padding: 10px;
            text-align: center;
        }